.container-fluid
  .row
    .col-xs-4
    .col-xs-4.add-form
      .row
        .col-xs-12.form-header
      .row
        .col-xs-12.form-body
          .row
            form(action="/addAGoal" method="post" href="")