form(method='POST' action='/create')
  div.form-group
    label(for='name') Goal:
    input#name.form-control(type='text', placeholder='Type smth' name='name' value='')
  button.btn.btn-primary(type='submit') Submit