.overlay(onclick="(function showAddForm(){ document.getElementsByClassName('add-form')[0].style.display = 'none'; document.getElementsByClassName('overlay')[0].style.display = 'none';})()")
.container-fluid.add-form
  .row
    .col-xs-4
    .col-xs-4
      .row
        .col-xs-12.form-header Add a new goal
      .row
        .col-xs-12.form-body
          .row
            form(action="/add" method="post" href="")
              .col-xs-12.add-group
                .form-group
                  label(for="name") Goal:
                  input(type="text" class="form-control" name="goal") 
                .form-group.i-score
                  label(for="initScore") Initial score:
                  input(type="text" class="form-control" name="initScore" placeholder="50%")
                .form-group.t-score
                  label(for="targScore") Target score:
                  input(type="text" class="form-control" name="targScore" placeholder="99%")
                .form-group.comment
                  label(for="comment") Comment:
                  input(type="text" class="form-control" name="comment")
                .form-group.save-btn
                  input.btn.btn-default(type="submit" value="Save")
            