extends f_all.pug
block delete
  a.overlay3(href="/all")
  .container-fluid.form_level2
    .row
      .col-xs-4
      .col-xs-4
        .row
          .col-xs-12.form-header Delete a goal
        .row
          .col-xs-12.form-body
            .row
              form(action="/delete" method="post" href="")
                .col-xs-12.add-group
                  .form-group
                    label(for="name") Are you sure you want to delete this goal?
                    input(type="text" class="form-control" name="goal" value=goal.goal readonly) 
                    input(type="hidden" name="id" value=goal.id)
                  .form-group.save-btn
                    input.btn.btn-default(type="submit" value="Delete")