doctype html
html(lang="en-US")
  head
    title Norian Goals
    meta(charset="UTF-8")
    meta(name="description" content="Free Web tutorials")
    meta(name="keywords" content="Norian,Goals")
    meta(name="author" content="Mantas Juskevicius")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- Bootstrap. Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //- Bootstrap. jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //- Bootstrap. Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //- D3:
    script(src="https://d3js.org/d3.v5.min.js" charset="utf-8")
    link(rel="stylesheet" href="./styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
body
  header
  main
    

  p Checking if it works
  button.btn.btn-primary(type='submit') Submit