doctype html
html(lang="en-US")
  head
    title Norian Goals
    meta(charset="UTF-8")
    meta(name="description" content="Free Web tutorials")
    meta(name="keywords" content="Norian,Goals")
    meta(name="author" content="Mantas Juskevicius")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- Bootstrap. Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    //- Bootstrap. jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //- Bootstrap. Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //- D3:
    script(src="https://d3js.org/d3.v5.min.js" charset="utf-8")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
body
  header
  main
    .container-fluid
      .row.dashboard
        .col-xs-12
          .row.title
            a.fa.fa-sign-out(href="/logout", style="font-size:54px")
            //- NAVBAR:
            .col-xs-2
              .navbar
                  nav
                    ul.nav
                      li 
                        a(href="#")
                          i.fa.fa-sitemap(style="font-size:24px")  
                          |  Lithuania
                        ul
                          li: a(href="#") Dep1
                            ul
                              li: a(href="#") Unit0
                          li: a(href="#") Dep2
                            ul
                              li: a(href="#") Unit1
                              li: a(href="#") Unit2
                          li: a(href="#") Dep3
                            ul
                              li: a(href="#") Unit3
                              li: a(href="#") Unit4
                              li: a(href="#") Unit5
                          li: a(href="#") Dep4
                            ul
                              li: a(href="#") Unit6
                              li: a(href="#") Unit7
                              li: a(href="#") Unit8
                              li: a(href="#") Unit8
                              li: a(href="#") Unit9
                          li: a(href="#") Dep5
                            ul
                              li: a(href="#") Unit10
                              li: a(href="#") Unit11
                              li: a(href="#") Unit12
                              li: a(href="#") Unit13
                              li: a(href="#") Unit14
                          li: a(href="#") Dep6
                            ul
                              li: a(href="#") Unit15
                              li: a(href="#") Unit16
                      li
                        a(href="#")
                          i.fa.fa-bullseye(style="font-size:24px")
                          |  Goals
                        ul
                          li: a(href="#", onclick="(function showAddForm(){ document.getElementsByClassName('add-form')[0].style.display = 'initial'; document.getElementsByClassName('overlay')[0].style.display = 'initial';})()") Add
                          li: a(href="/myOwn") My own
                          li: a(href="/others") Others'
                          li: a(href="#") Rejected
                      
            .col-xs-8.header Goal: to do something
            .col-xs-2
        .col-xs-12
          .row.charts
            .col-xs-2
            .col-xs-4
              .gauge-chart
              script.
                var perc = 0.75;
                var targetVal = 0.85;
                var width = document.getElementsByClassName("dashboard")[0].getElementsByClassName("col-xs-4")[0].offsetWidth - 20 - 4;
                var height = width * 0.65;
                var fontSize = width * 0.064;
                var deg180 = 0.5 * Math.PI;
                var theGauge = d3.arc()
                    .startAngle(-0.5 * Math.PI)
                    .innerRadius(width / 2 * 0.5)
                    .outerRadius(width / 2 * 0.7)
                    .cornerRadius(6);
                var theTarget = d3.arc()
                    .startAngle((2 * targetVal - 1) * deg180)
                    .endAngle((2 * targetVal - 1) * deg180 + 0.04)
                    .innerRadius(width / 2 * 0.48)
                    .outerRadius(width / 2 * 0.72);
                var svg = d3.select(".gauge-chart").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .style("background-color", "white")
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + ", " + (height * 0.9) + ")");
                    //add labels on the top-right and top-left corners
                    svg.append('text')
                    .attr("x", -width * 0.8 / 2)
                    .attr("y", -height * 0.8 + fontSize)
                    .attr("font-size", fontSize)
                    .style("fill", "#606060")
                    .transition()
                    .duration(750)
                    .text("Current");
                    svg.append('text')
                    .attr("x", -width * 0.8 / 2 + fontSize)
                    .attr("y", -height * 0.8 + fontSize * 2.2)
                    .attr("font-size", fontSize)
                    .style("fill", "#606060")
                    .transition()
                    .duration(750)
                    .text(Math.round(perc * 100) + "%");
                    svg.append('text')
                    .attr("x", width * 0.8 / 2 - fontSize * 3.5)
                    .attr("y", -height * 0.8 + fontSize)
                    .attr("font-size", fontSize)
                    .style("fill", "#606060")
                    .transition()
                    .duration(750)
                    .text("Target");
                    svg.append('text')
                    .attr("x", width * 0.8 / 2 - fontSize * 2.75)
                    .attr("y", -height * 0.8 + fontSize * 2.2)
                    .attr("font-size", fontSize)
                    .style("fill", "#606060")
                    .transition()
                    .duration(750)
                    .text(Math.round(targetVal * 100) + "%");
                //add grey backgound
                var background = svg.append("path")
                    .datum({endAngle: deg180})
                    .attr("fill", "#e5e5e5")
                    .attr("d", theGauge);  
                //add foreground
                var foreground = svg.append("path")
                    .datum({endAngle: (2 * 0 - 1) * deg180})
                    .attr("fill", "#515ad8")
                    .attr("d", theGauge)
                    .transition()
                    .duration(750)
                    .attrTween("d", arcTween((2 * perc - 1) * deg180));
                //animate foreground
                function arcTween(newAngle) {
                    return function(d) {
                        var interpolate = d3.interpolate(d.endAngle, newAngle);
                        return function(t) {
                            d.endAngle = interpolate(t);
                            return theGauge(d);
                        };
                    };
                }
                //add target
                var targetArc = svg.append("path")
                    .attr("fill", "#e5e5e5")
                    .attr("d", theTarget)
                    .transition()
                    .duration(750)
                    .attr("fill", "#214566")
                    .attr("d", theTarget);
                //animate current value
                var middleCount = svg.append('text')
                    .attr("class", "middle-text")
                    .attr("text-anchor", "middle")
                    .attr("font-size", fontSize * 2)
                    .transition()
                    .duration(750)
                    .tween("text", function() {
                        var that = d3.select(this),
                            i = d3.interpolateNumber(0, perc);
                        return function(t) { that.text( d3.format(".0%")(i(t))); };
                    });

            .col-xs-4
              .line-chart
              script.
                //raw data for line chart:
                var rawLCData = [{date: '2018-01-20', value: 65}, {date: '2018-02-20', value: 62}, {date: '2018-03-20', value: 83}, {date: '2018-04-20', value: 70}, {date: '2018-05-20', value: perc * 100}];
                //arrays for modified chart data and target data:
                var LCData = [];
                var tData = [];
                for (var i in rawLCData) {
                    LCData.push(
                        {
                            date: new Date(rawLCData[i].date),
                            value: rawLCData[i].value
                        }
                    );
                    tData.push(
                        {
                            date: new Date(rawLCData[i].date),
                            value: targetVal * 100 
                        }
                    );
                }
                var svg = d3.select('.line-chart')
                    .append('svg')
                    .attr("width", width)
                    .attr("height", height)
                    .style("background-color", "white");
                var g = svg.append("g")
                    .attr("transform", 
                    "translate(" + width * 0.1 + "," + height * 0.1 + ")"
                );
                var x = d3.scaleTime().rangeRound([0, width * 0.8]);
                var y = d3.scaleLinear().rangeRound([height * 0.8, 0]);
                var line = d3.line()
                    .x(d => x(d.date))
                    .y(d => y(d.value));
                //detect lowest and highest values and define axis limits
                var minY = d3.min(LCData.concat(tData), d => d.value) * 0.95;
                var maxY = d3.max(LCData.concat(tData), d => d.value);
                maxY = maxY > 80 ? 100 : maxY * 1.1; 
                x.domain(d3.extent(LCData, d => d.date));
                y.domain([Math.floor(minY / 10) * 10, Math.ceil(maxY / 10) * 10]);
                //add x-axis and ticks (months)
                g.append("g")
                .attr("transform", "translate(0," + height * 0.8 + ")")
                .call(d3.axisBottom(x).ticks(LCData.length))
                .attr("font-size", fontSize * 0.5 + "px");
                //add y-axis and ticks (5 ticks)
                g.append("g")
                .call(d3.axisLeft(y).ticks(5))
                .attr("font-size", fontSize * 0.5 + "px")
                /*.append("text")
                .attr("fill", "black")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", "0.71em")
                .attr("text-anchor", "end")
                .text("Units")*/;
                //draw a line corresponding the data
                g.append("path")
                .datum(LCData)
                .attr("fill", "none")
                .attr("stroke", "#515ad8")
                .attr("stroke-linejoin", "round")
                .attr("stroke-linecap", "round")
                .attr("stroke-width", 5.5)
                .attr("d", line);
                //draw a line corresponding the target
                g.append("path")
                .datum(tData)
                .attr("fill", "none")
                .attr("stroke", "#214566")
                .attr("stroke-linejoin", "round")
                .attr("stroke-linecap", "round")
                .attr("stroke-width", 2)
                .attr("d", line);
                g.append("text")
                .attr("transform", "translate(" + width * 0.71  + "," + (y(tData[0].value) - 6) + ")")
                .attr("font-size", fontSize * 0.5 + "px")
                .style("fill", "#606060")
                .text("Target");
                //tooltips:
                var bisectDate = d3.bisector(d => d.date).left;
                var focus = svg.append("g")
                    .style("display", "none");
                // append the circle at the intersection
                focus.append("circle")
                .attr("class", "y")
                .style("fill", "none")
                .style("stroke", "blue")
                .attr("r", 4);
                //append text above the intersection
                focus.append("text")
                .attr("y", height * -0.05)
                .attr("x", width * -0.0175)
                .attr("font-size", fontSize * 0.5 + "px");
                // append the rectangle to capture mouse
                svg.append("rect")
                .attr("width", width)
                .attr("height", height)
                .style("fill", "none")
                .style("pointer-events", "all")
                .on("mouseover", function() { focus.style("display", null); })
                .on("mouseout", function() { focus.style("display", "none"); })
                .on("mousemove", mousemove);
                function mousemove() {
                    var xPosition = d3.mouse(this)[0] - width * 0.1;
                    xPosition = xPosition > (width * 0.8) ? width * 0.8 : xPosition; 
                    var x0 = x.invert(xPosition),
                    i = bisectDate(LCData, x0, 1),
                    d0 = LCData[i - 1],
                    d1 = LCData[i],
                    d = x0 - d0.date > d1.date - x0 ? d1 : d0;
                    focus.select("circle.y")
                    .attr("transform", "translate(" + (x(d.date) + width * 0.1) + "," + (y(d.value) + height * 0.1) + ")");
                    focus.select("text")
                    .text( () => d.value)
                    .style("fill", "#606060")
                    .attr("transform", "translate(" + (x(d.date) + width * 0.1) + "," + (y(d.value) + height * 0.1) + ")");;
                }                                                      
            .col-xs-2
        .col-xs-12
          .row.other
            .col-xs-2
            .col-xs-4
              .summary.
                Details:<br/>
                Goal: To do something<br/>
                Owner: Name Surnamebr<br/>
                Offered: 2018-10-10 16:00<br/>
                Offered by: Name2 Surname2<br/>
                Accepted: 2018-10-12 14:30<br/>
                Initial score: 50%<br/>
                Current score: 75%<br/>
                Target score: 85%<br/>
                Comment: To start from scratch
            .col-xs-4
            .col-xs-2
    //- ADD FORM:
    include f_add.pug
    //- OTHER FORMS:
    block myOwn
    block others