body {
  background-color: rgb(240, 239, 239);
}

/*Styling the navbar*/

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.nav a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
  }

.nav {  
    display: inline-block;
  }

.nav li {
    position: relative;
    background-color: #0e2f4d;
    border: 1px solid white;
    width: 230px;
    height: 50px;
    text-align: center;
    display: block;
  }

.nav > li li {
  padding-top: 5px;
}

.nav ul {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
  }

.nav > li:hover > ul, .nav > li li:hover > ul {
    left: 100%;
    top: -1px;
  }

.nav li:hover, .nav li:hover > a {
    background-color: #4574a0;
}

.nav > li:last-child a, .nav > li:last-child li:last-child a {
    height: 44px;
}

.container-fluid {
  position: relative;
}

/*Styling the Add form*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

.add-form {
  display: none;
}

.add-form {
  position: absolute;
  top: 15%;
  left: 0;
  border: 1px solid blue;
}

.form-header {
  background-color: #515ad8;
  padding: 4% 10%;
  color: white;
  font-size: 28px;
  z-index: 3;
}
.form-body {
  background-color: white;
  padding: 10%;
  z-index: 3;
}

.add-form input, .btn-group button, .add-form input:focus, .btn-group button:focus, .add-form input:active  {
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-shadow: none;
  border-radius: 0px; 
}

.add-form label {
  color: rgb(88, 88, 88);
}

.more-btn, .save-btn {
  float: right;
  border: 1px solid rgb(88, 88, 88);
  margin-left: 20px;
}

.offer-btn {
  padding-top: 4px;
  width: 100%;
}

.offer-btn button {
  text-align: left;
  width: 100%;
  height: 30px;
}


