html, body {
  background-color: rgb(240, 239, 239);
  height: 100%;
}

body {
  margin: 0;
}

#root, #root > div {
  height: 100%;
}

/* Login screen */

.login-screen {
  background-color: white;
  height: 100%;
}

.logo {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 33%;
  margin: 15% 33% 0 33%;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.login-screen form {
  margin: 5% 43% 0 43%;
}

.login-screen form label, .login-screen form input {
  width: 100%;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.login-screen form input {
  border-bottom: 1px solid rgb(187, 187, 187);
  padding: 5px;
}

.login-screen form button {
  background-color: white;
  padding: 10px;
  color: rgb(80, 80, 80);
  border: 1px solid rgb(187, 187, 187);
  box-shadow: none;
  float: right;
  margin-top: 20px;
}

.login-screen form button:hover {
  cursor: pointer;
}


/*Styling the dashboard*/

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'l-margin header header header header r-margin'
    'l-margin l-main1 l-main1 r-main1 r-main1 r-margin'
    'l-margin l-main2 l-main2 r-main2 r-main2 r-margin';
  grid-gap: 2%;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.l-margin { grid-area: l-margin; }
.r-margin { grid-area: r-margin; }
.header { grid-area: header; }
.l-main1 { grid-area: l-main1; }
.r-main1 { grid-area: r-main1; }
.l-main2 { grid-area: l-main2; }
.r-main2 { grid-area: r-main2; }


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.r-margin, .l-margin {
  background-color: rgb(240, 239, 239)!important;
  padding: 0!important;
}

.r-margin a {
  float: right;
  color: #0e2f4d;
}

.l-main1, .r-main1 {
  padding: 0!important;
}

.gauge-chart text:nth-child(1), .gauge-chart text:nth-child(2), .middle-text, .line-chart {
  cursor: pointer;
}

.l-main2, .r-main2 {
  padding: 50px;
}

/* goal info: */

.l-main2 .goal-info label {
  font-weight: bold;
  font-size: 16px;
}

.l-main2 .goal-info input, .l-main2 .goal-info textarea {
  width: 97%;
  padding: 1.5%;
  border: none;
  margin: 3% 0 5% 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  overflow: hidden;
}

/* nesting: */

.r-main2 .col-headers-row {
  width: 100%;
  display: inline-block;
}

.r-main2 .children-goals {
  margin-bottom: 40px;
}

.r-main2 .children-tasks {
  width: 100%;
}

.r-main2 .col-headers-goals .col-header, .r-main2 .col-data-goals .col-data {
  width: 18%;
}

 .r-main2 .col-headers-goals .col-header:first-child, .r-main2 .col-data-goals .col-data:first-child  {
  width: 28%;
}

.r-main2 .col-headers-tasks .col-header:first-child  {
  width: 60%;
}

.r-main2 .col-headers-tasks .col-header:nth-child(2), .r-main2 .col-headers-tasks .col-header:nth-child(3)  {
  width: 20%;
}

.r-main2 .col-header h4 {
  margin: 0;
}

.r-main2 .col-data-row {
  display: inline-block;
  width: 100%;
}

.r-main2 .col-data {
  width: 20%;
  padding: 0;
  margin: 3px 0;
}

.r-main2 .col-data-tasks .col-data:first-child  {
  width: 50%;
  text-align: left;
  user-select: none;
}

.r-main2 .col-data-tasks .fa-caret-square-down {
  width: 10%;
  text-align: center;
  visibility: hidden;
}

.r-main2 .col-data-tasks:hover .fa-caret-level1 {
  visibility: visible;
  cursor: pointer;
}

.r-main2 .col-data-tasks-level2 .col-data:first-child {
  text-indent: 10%;
  user-select: none;
}

.r-main2 .col-data-tasks-level2 .col-data:first-child a {
  color: rgb(80, 80, 80);
}

.r-main2 .col-data input {
  border: none;
  width: 90%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 0 3px;
}

.r-main2 .col-data input::-webkit-outer-spin-button, .r-main2 .col-data input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.r-main2 .col-data form button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.r-main2 .col-data i {
  margin-left: 5px;
  visibility: hidden;
}

.r-main2 .col-data form:hover i {
  visibility: visible;
}

.r-main2 .col-data form i:hover {
  cursor: pointer;
}

/* Styling the navbar */

.navbar {
  padding: 0;
  position: absolute;
  z-index: 1;
}

nav {
  position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.nav a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
  }


.nav {  
    display: inline-block;
  }

.nav li {
    position: relative;
    background-color: #0e2f4d;
    border: 1px solid white;
    width: 230px;
    height: 50px;
    text-align: center;
    display: block;
  }

.nav > li li {
  padding-top: 5px;
}

.nav > li a {
  margin-top: 12px;
}

.nav ul {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
  }

.nav > li:hover > ul, .nav > li li:hover > ul {
    left: 100%;
    top: -1px;
  }

.nav li:hover, .nav li:hover > a {
    background-color: #4574a0;
}

.nav > li {
    height: 55px;
}


/*Styling the forms. General styling */

.form-add, .form-current, .form-remove, .form-acceptOffer, .form-negotiateOffered, .form-negotiateOwn, .form-edit, .form-offerTo, .form-myOwn, .form-others, .form-reject, .form-copy, .form-approve, .form-negotiateMyOffered, .form-negotiateTheirOwn {
  margin: 5% 30% 0% 30%;
  cursor: default;
  z-index: 2;
}

.form-header, .form-body {
  font-family: 'Open Sans', sans-serif;
}

.form-header {
  background-color: #515ad8;
  padding: 4% 10%;
  color: white;
  font-size: 28px;
}

.form-body {
  background-color: white;
  padding: 10%;
  padding-bottom: 15%;
}

.form-add .form-body, .form-edit .form-body {
  padding-bottom: 5%;
}

.section-header {
  font-size: 23px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.form-body label, .form-body input, .form-body select  {
  width: 100%;
  font-size: 14px;
  margin: 15px 0;
  text-align: left;
}

.form-body label {
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.form-body input, .form-body select {
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 5px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  cursor: pointer;
  overflow-y: scroll;
}

.form-btn {
  background-color: white;
  border: 1px solid rgb(80, 80, 80)!important;
  width: auto!important;
  padding: 10px!important;
  float: right;
  clear: both;
  cursor: pointer;
}

.form-btn-center input {
  float: none;
}

.form-btn-center {
  text-align: center;
}

.fa-plus-square:hover {
  cursor: pointer;
}

.invalid-feedback {
  color: red;
  font-size: 10px;
  position: relative;
  top: -15px;
}

/* Styling the form Add a goal */

.task-row > div {
  display: inline-block;
}

.descr-block {
  width: 70%;
  margin-right: 10%;
}

.weight-block {
  width: 20%;
}

.buttons .form-btn {
  float: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons input:nth-child(2) {
  margin-left: 20px;
}

/* Styling the form for my goals */

.form-myOwn {
  margin: 5% 20% 0% 20%;
}

.form-myOwn-body {
  padding: 2% 7% 7% 7%;
}

.offeredToMe, .myOffered, .myApproved { width: 100%; }

.section-header { 
  width: 86%; 
  padding: 35px;
}

.col-header {
  width: 18%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  display: inline-block;
}

.col-header-goal-name { width: 28%; }

.col-data-goal-name a {
  color: rgb(80, 80, 80);
}

.col-data {
  width: 18%;
  text-align: center;
  min-height: 5px;
  display: inline-block;
}

.col-data-goal-name { width: 28%; }

.form-body i {
  margin-left: 10px;
  color: rgb(80, 80, 80);
}


/* Styling the form to remove a goal */

.form-remove {
  z-index: 3;
}

.overlay2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  cursor: pointer;
  overflow-y: scroll;
}

/* Styling the form Offer To... */

.form-myOwn .task-group {
  display: initial;
}

.offer-group {
  margin-top: 70px;
  width: 100%;
}

.offer-elm {
  border-top: 1px solid rgb(80, 80, 80);
  padding-top: 40px;
}

.offer-elm label, .task-row .descr-block, .task-row .weight-block {
  width: 45%;
  display: inline-block;
}

.task-row label {
  width: 100%;
}

.offer-elm label:nth-child(5) {
  width: 100%;
}

.offer-elm input, .offer-elm select {
  padding: 3%;
  width: 94%;
}

.offer-elm label:nth-child(5) input {
  padding: 1.5%;
  width: 97%;
}

.offer-elm label:nth-child(1), .offer-elm label:nth-child(3), .offer-elm .descr-block {
  margin-right: 10%;
}

.offer-elm label:nth-child(9) {
  width: 100%;
}


/* Styling the form for others' goals */

.form-others { margin: 5% 15% 0% 15%; }

.form-others-body { padding: 2% 7% 7% 7%;; }

.offeredByMe, .createdByOthers { width: 100%; }

.form-others .col-header { width: 15%; }

.form-others .col-data { width: 15%; }

.form-others .col-header-goal-name { width: 25%; }
  
.form-others .col-data-goal-name { width: 25%; }

/* Styling the form negotiateOfferedToMe*/

.form-negotiateOffered, .form-negotiateOwn, .form-negotiateMyOffered, .form-negotiateTheirOwn {
  margin: 5% 10% auto 10%;
}

.form-negotiateOffered .form-body, .form-negotiateOwn .form-body, .form-negotiateMyOffered .form-body, .form-negotiateTheirOwn .form-body {
  padding-bottom: 5%;
}

.form-negotiateOffered form, .form-negotiateOwn form, .form-negotiateMyOffered form, .form-negotiateTheirOwn form {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.form-negotiateOffered form:first-child, .form-negotiateOwn form:first-child, .form-negotiateMyOffered form:first-child, .form-negotiateTheirOwn form:first-child {
  margin-right: 10%;
}

.DayPickerInput, .DayPickerInput input {
  width: 100%;
}

/* Styling the form current score */

.form-current form input:first-child {
  margin-bottom: 10%;
}

.form-current .score, .form-current .delete, .form-current .date {
  width: 20%;
  display: inline-block;
  text-align: center;
}

.form-current .delete {
  width: 10%;
  visibility: hidden;
}

.form-current .score-group:hover .delete {
  visibility: visible;
}

.form-current .delete:hover {
  cursor: pointer;
}

.form-current .date {
  margin: 0 0 0 25%;
}

.form-current .score {
  margin: 0 25% 0 0;
}

.form-current .score input, .form-current .date input {
  width: 94%;
  padding: 3%;
  text-align: center;
}

.form-current input::-webkit-outer-spin-button, .form-current input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

/* Units and users */

.form-units, .form-users {
  margin: 0 150px;
  position: relative;
  top: -200px;
}

.form-editUnits, .form-editUsers {
  width: 60%;
  margin: 30px;
  padding: 30px;
  border: 1px solid rgb(214, 214, 214);
}

.parentTo {
  padding-left: 15px;
  padding-right: 5px;
  text-indent: -15px;
}

.parentTo input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.form-units .units {
  border-bottom: 1px solid rgb(141, 141, 141);
  padding-bottom: 20px;
}