body {
  background-color: rgb(240, 239, 239);
}

/*Styling the dashboard*/

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'l-margin header header header header r-margin'
    'l-margin l-main1 l-main1 r-main1 r-main1 r-margin'
    'l-margin l-main2 l-main2 r-main2 r-main2 r-margin';
  grid-gap: 2%;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.l-margin { grid-area: l-margin; }
.r-margin { grid-area: r-margin; }
.header { grid-area: header; }
.l-main1 { grid-area: l-main1; }
.r-main1 { grid-area: r-main1; }
.l-main2 { grid-area: l-main2; }
.r-main2 { grid-area: r-main2; }


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

.r-margin, .l-margin {
  background-color: rgb(240, 239, 239)!important;
  padding: 0!important;
}

.l-main1, .r-main1 {
  padding: 0!important;
}

.gauge-chart text:nth-child(1), .gauge-chart text:nth-child(2), .middle-text {
  cursor: pointer;
}

.l-main2 {
  padding: 50px;
}

.r-main2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'main2-l-margin r-main2-header1 r-main2-header2 r-main2-header3 r-main2-header4 r-main2-header5 main2-r-margin'
    'main2-l-margin parent-to init-score curr-score targ-score score-weight main2-r-margin';
  grid-gap: 2%;
  grid-template-columns: 7% 15% 15% 15% 15% 15% 6%;
  grid-template-rows: 50px auto;
  text-align: center;
}

.r-main2 ul {
  padding: 0;
}

.r-main2 li {
  list-style-type: none;
}

.r-main2-header1 { grid-area: r-main2-header1; }
.r-main2-header2 { grid-area: r-main2-header2; }
.r-main2-header3 { grid-area: r-main2-header3; }
.r-main2-header4 { grid-area: r-main2-header4; }
.r-main2-header5 { grid-area: r-main2-header5; }

.main2-l-margin { grid-area: main2-l-margin;  }
.parent-to { grid-area: parent-to; }
.init-score { grid-area: init-score; }
.curr-score { grid-area: curr-score; }
.targ-score { grid-area: targ-score; }
.score-weight { grid-area: score-weight; }
.main2-r-margin { grid-area: main2-r-margin; }

/* Styling the navbar */

.navbar {
  padding: 0;
  position: absolute;
}

nav {
  position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.nav a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
  }


.nav {  
    display: inline-block;
  }

.nav li {
    position: relative;
    background-color: #0e2f4d;
    border: 1px solid white;
    width: 230px;
    height: 50px;
    text-align: center;
    display: block;
  }

.nav > li li {
  padding-top: 5px;
}

.nav > li a {
  margin-top: 12px;
}

.nav ul {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
  }

.nav > li:hover > ul, .nav > li li:hover > ul {
    left: 100%;
    top: -1px;
  }

.nav li:hover, .nav li:hover > a {
    background-color: #4574a0;
}

.nav > li {
    height: 55px;
}


/*Styling the forms*/

.form-add, .form-current {
  margin: 5% 30% 0% 30%;
  cursor: default;
  z-index: 2;
}

.form-myOwn {
  margin: 5% 20% 0% 20%;
  cursor: default;
  z-index: 2;
}

.form-header, .form-body {
  font-family: 'Open Sans', sans-serif;
}

.form-header {
  background-color: #515ad8;
  padding: 4% 10%;
  color: white;
  font-size: 28px;
}

.form-body {
  background-color: white;
  padding: 10%;
  padding-bottom: 15%;
}

.form-myOwn-body {
  padding: 8%;
}

.section-header {
  font-size: 23px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.form-add label, .form-add input, .form-current label, .form-current input  {
  width: 100%;
  font-size: 14px;
  margin: 15px 0;
}

.form-add label, .form-current label {
  font-weight: bold;
  color: rgb(88, 88, 88);
}

.form-add input, .form-current input {
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 5px;
}

.r-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  cursor: pointer;
}

.form-btn {
  background-color: white;
  border: 1px solid rgb(88, 88, 88)!important;
  width: auto!important;
  padding: 10px!important;
  float: right;
  clear: both;
  cursor: pointer;
}

/* Styling the my goals form*/


.form-myOwn-body {
  padding: 0;
}

.offeredToMe, .myOffered, .myApproved { width: 100%; background-color: white;}

.section-header { width: 100%; background-color: white; padding: 40px 0;}

.col-header1 { width: 28%; }
.col-header2 { width: 18%; }
.col-header3 { width: 18%; }
.col-header4 { width: 18%; }
.col-header5 { width: 18%; }

.col-data1 { width: 28%; }
.col-data2 { width: 18%; }
.col-data3 { width: 18%; }
.col-data4 { width: 18%; }
.col-data5 { width: 18%; }

.col-header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  float: left;
  background-color: white;
  padding-bottom: 20px;
}

.col-data {
  text-align: center;
  float: left;
  background-color: white;
  padding-bottom: 50px;
}

.form-body ul {
  padding: 0;
  margin: 0;
  
}

.form-body li {
  list-style-type: none;
}

.form-body a {
  color: rgb(80, 80, 80);
}

.form-body i, .form-body i:hover {
  margin-left: 10px;
}

